* {
    font-family: Bitter, sans-serif;
}

h1 {
    font-family: Dosis, sans-serif;
    font-weight: 600;
    color: #006400;
}

.input-table {
    padding: 0 25px;
    margin-bottom: 3rem;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    margin: 0 0.75rem 1.5rem 0;
}

.item-inputs {
    display: grid;
    grid-template-columns: 2;
}

#item-name {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-area: name; */
    margin-top: 1rem;
}

#item-quantity {
    width: 3rem;
    /* grid-column-start: 1; */
    /* grid-area: quantity; */
}

#item-units {
    /* grid-column-start: 2; */
    /* grid-area: units; */
}

#limit {
    display: flex;
    margin: 1rem 0;
}

#item-limit {
    width: 3rem;
    margin: 0 0.5rem;
}

#scale {
    display: flex;
    margin: 1.25rem 0;
}

#scale-cb {
    margin: 0.25rem 0.5rem;
}

#x-btn {
    margin: 0.5rem;
    border: none;
    font-weight: 700;
    font-family: Dosis, sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(70, 70, 70);
}

.submission-btns {
    text-align: center;
    margin: 1.5rem 0;
}

#cancel-btn, #save-btn {
    appearance: none;
    border: none;
    background-color: transparent;
    margin: 0 0.5rem;
}

#save-btn {
    background-color: #006400;
    color: white;
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    border-radius: 1.25rem;
    padding: .5rem 1.2rem;
}

#cancel-btn {
    color: #006400;
    background-color: white;
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    border: 0.5px solid #006400;
    border-radius: 1.25rem;
    padding: .5rem .75rem;
}