
<div *ngIf="showingInputItemBox" style="padding-left: 30%; padding-right: 30%;">
    <mat-card>
        <div style="text-align: right;">
            <button (click)="exitInputItemBox()">x</button>
        </div>
        <mat-card-content>
            <div class="input-table">
                <h1>Add A New Item</h1>

                <div class="item-inputs">
                    <input type="text" name="item-name" placeholder="Item Name" id="item-name">
                    <input type="number" name="quantity" placeholder="0" id="item-quantity">
                    <select name="units"  id="item-units">
                        <option>g</option>
                        <option>oz</option>
                        <option>ml</option>
                        <option>fl oz</option>
                        <option>cups</option>
                        <option>individual item</option>
                    </select>
                </div>

                <div class="submission-btns">
                <button id="cancel-btn">Cancel</button>
                <button id="save-btn">Save</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>