
<div *ngIf="showingInputItemBox" style="padding-left: 30%; padding-right: 30%; padding-bottom: 5%;">
    <mat-card>
        <div style="text-align: right;">
            <button (click)="exitInputItemBox()">x</button>
        </div>
        <mat-card-content>
            <div class="input-table">
                <h1>Add A New Item</h1>

                <div class="item-inputs">
                    <p></p>
                    <input type="text" name="item-name" placeholder="Item Name" id="itemName">
                    <span>Check to use scale</span><input type="checkbox" (click)="toggleUseScale()">
                    <div *ngIf="!useScale">
                        <input type="number" name="quantity" placeholder="0" id="itemQuantity">
                        <select name="units"  id="item-units">
                            <option>g</option>
                            <option>oz</option>
                            <option>ml</option>
                            <option>fl oz</option>
                            <option>cups</option>
                            <option>individual item</option>
                        </select>
                    </div>
                    <div *ngIf="weight">
                        <p>A weight of {{weight}} was recorded</p>
                    </div>
                    <input type="text" id="itemLimit" placeholder="Item Limit">
                </div>

                <div class="submission-btns">
                    <button id="cancel-btn" (click)="exitInputItemBox()">Cancel</button>
                    <button id="save-btn" (click)="submitForm()">Save</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="useScale">
    <app-weight-confirmation (weightEmitter)="newWeight($event)"></app-weight-confirmation>      
</div>