/* progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  } */

  progress {
    border-radius: 7px; 
    /* width: 80%;
    height: 22px; */
    margin-left: -11.5%;
    /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  }
  progress::-webkit-progress-bar {
    /* background-color: yellow;
    border-radius: 7px; */
  }
  .high-stock::-webkit-progress-value {
    /* border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 ); */
  }

  .medium-stock::-webkit-progress-value {
    background-color: yellow;
  }

  .low-stock::-webkit-progress-value {
    background-color: red;
  }

  progress::-moz-progress-bar {
    /* style rules */
  }