<div *ngIf="showModal" style="padding-left: 30%; padding-right: 30%; padding-bottom: 5%;">
    <mat-card>
        <div style="text-align: right;">
            <button (click)="exit()">x</button>
        </div>
        <mat-card-content>
            <div style="text-align: center; align-items: center; margin:auto">
                <h1>{{ adding ? 'Adding' : 'Removing' }}</h1>
                <p>Manual Input or click Use Scale</p>
                <button id="modify-quantity" (click)="openWeightModal()">Use Scale</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="weighing">
    <app-weight-confirmation (weightEmitter)="newWeight($event)"></app-weight-confirmation>
</div>