<div *ngIf="showingWeightBox" style="padding-left: 30%; padding-right: 30%;">
    <mat-card>
        <div style="text-align: right;">
            <button (click)="exitWeightBox()">x</button>
        </div>
        <mat-card-content>
            <div style="text-align: center;">
                <h1>Weighing...</h1>
                <h3>{{ weight }}</h3>
                <button (click)="getWeight()">Get Weight</button>
                <br><br>
                <button>Confirm Weight</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
