<div *ngIf="showingWeightBox" style="padding-left: 30%; padding-right: 30%; padding-bottom: 5%;">
    <mat-card>
        <div style="text-align: right;">
            <button (click)="exitWeightBox()"></button>
        </div>
        <mat-card-content>
            <div style="text-align: center; align-items: center; margin:auto">
                <h1>{{ weight ? "Weight is " : "Weighing..."}}</h1>
                <div style="max-width: fit-content; margin:auto;"><mat-spinner *ngIf="getWeightClicked"></mat-spinner></div>
                <h3>{{ weight }}</h3>
                <button id="cancel-btn" (click)="getWeight()">Get Weight</button>
                <br><br>
                <button id="save-btn">Confirm Weight</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>