<div style="padding: 3%;">
    <button (click)="pleaseWork()" id="add-item">please work</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!-- Name Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let item"> {{item.productName}} </td>
        </ng-container>
      
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
        </ng-container>

        <!-- Limit Column -->
        <ng-container matColumnDef="limit">
          <th mat-header-cell *matHeaderCellDef> Limit </th>
          <td mat-cell *matCellDef="let item"> {{item.limit}} </td>
        </ng-container>

        <!-- Quantity Type Column -->
        <ng-container matColumnDef="quantityType">
          <th mat-header-cell *matHeaderCellDef> Quantity Type </th>
          <td mat-cell *matCellDef="let item"> {{item.quantityType}} </td>
        </ng-container>
      
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let item"> <app-status-bar [item]="item"/></td>
        </ng-container>
      
        <!-- Add Column -->
        <ng-container matColumnDef="add">
            <th mat-header-cell *matHeaderCellDef> Add </th>
            <td mat-cell *matCellDef="let item"><button mat-button (click)="openChangeModal(item, true)">+</button></td>
        </ng-container>

        <!-- Subtract Column -->
        <ng-container matColumnDef="use">
            <th mat-header-cell *matHeaderCellDef> Use </th>
            <td mat-cell *matCellDef="let item"><button mat-button (click)="openChangeModal(item, false)"> - </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
      </table>      
</div>
<div *ngIf="changeQuantity && clickChange">
  <app-change-quantity [adding]="adding" [id]="currentId"></app-change-quantity>
</div>